<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>For Hashwanth ❤️</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="birthday-page">

    <!-- Background glow -->
    <div class="glow glow-one"></div>
    <div class="glow glow-two"></div>

    <!-- Floating hearts -->
    <div class="hearts-container">

        <span class="heart heart-1">♥</span>
        <span class="heart heart-2">♥</span>
        <span class="heart heart-3">♥</span>
        <span class="heart heart-4">♥</span>
        <span class="heart heart-5">♥</span>
        <span class="heart heart-6">♥</span>
        <span class="heart heart-7">♥</span>
        <span class="heart heart-8">♥</span>
        <span class="heart heart-9">♥</span>
        <span class="heart heart-10">♥</span>
        <span class="heart heart-11">♥</span>
        <span class="heart heart-12">♥</span>
        <span class="heart heart-13">♥</span>
        <span class="heart heart-14">♥</span>
        <span class="heart heart-15">♥</span>

    </div>

    <!-- Main content -->
    <main class="birthday-content">

        <p class="little-text">
            ✦ A little something for you ✦
        </p>

        <h1>
            Happy Birthday to my favorite Human,
            <span>Hashwanth</span> ❤️
        </h1>

        <div class="divider">
            <span>♡</span>
        </div>

        <p class="birthday-message">
            May your day be filled with laughter,
            beautiful moments and everything
            that makes you smile. Looking back at
            all the crazy things we've done and 
            the memories we’ve made, I honestly 
            can’t imagine my life without you in it.
            <b>LOVE YOU RA ..❤️</b>
        </p>

        <p class="secret-message">
            But wait...
            <br>
            I have one tiny surprise for you.
        </p>

        <div class="instruction">
            <span class="pulse-dot"></span>
            Tap any heart
            <span class="pulse-dot"></span>
        </div>

    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>